html {
  height: 95%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #152614;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

table {
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.3em;
  border: 2px solid #fff;
  padding: 10px;
  margin: 20px 0;
  border-radius: 20px;
  width: 300px;
}

td {
  color: #f80;
  margin: 0;
  padding: 0;
}

td:first-child {
  color: #2bf;
}

.bar {
  width: 300px;
  height: 20px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.bar-estimated {
  background-color: #0c0;
  height: 100%;
  text-align: center;
  border-radius: 5px;
  position: relative;
  z-index: 2;
}
.bar-estimated2 {
  background-color: #009ccc;
  height: 100%;
  text-align: right;
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  font-size: 0.7em;
}
